= render :partial => 'form', :locals => {:url_obj => Url.new}

#page-info
  = page_entries_info @urls
= will_paginate @urls, :page_links => false, :separator =>' | '



.url-list
  = render :partial => @urls
