/*
  Welcome to Susy. Use this file to define screen styles.
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" />

/* @group reset */
@import compass/reset.sass
/* @end */

/* @group defaults */
@import base.sass
/* @end */


/* @group STRUCTURE */



/* @end */

  
/* @group COMPONENTS by type */



/* @end */


/* @group OVERRIDES by content */



/* @end */

        
/* @group OVERRIDES by page */



/* @end */


/* @group DEBUG */

/*   uncomment, adjust and use for debugging    */
  
/*
  #page
    +show-grid("grid.png")

/* @end */
@import compass/utilities.sass

=full_width
  +columns(10)
  +pad(1,1)
  +full

body
  +susy

#page
  +container
  +sans-family

#main-content
  +columns(10)
  +pad(1,1)

#content, #flash
  +full_width


#header, #footer
  +full_width
  :height 3em
  :margin
    :bottom .5em
    :top    .5em

#header
  .text
    +columns(5,10)
    +alpha(8)
  .nav
    +columns(5,10)
    +omega(8)
    :text-align right

a
  +unstyled-link
  cursor: pointer

=roundish
  :border none
  +border-top-left-radius(12px)
  +border-bottom-right-radius(12px)
  +box-shadow(4px, 4px, 10px, #333)
  :background-color  #fff
  :background-color #ccccff

=list-of-tags
  +inline-list
  li
    +box-shadow(1px, 1px, 2px, #555)
    +border-radius(2px)
    :margin-right 4px
    :padding 2px
    :line-height 20px
    :background-color  #eee
    :font-size 90%

fieldset.labels-inside
  :position relative
  input[type=text]
    +roundish
    :color #111
    :padding .6em
    &.highlight
      background-color: #ffffcd
  label, input[type=text]
    :font-size 1.5em

  label
    :position absolute
    :bottom .6em
    :left .6em
    :color #999

div#page
  &.urls
    form.edit_url, form.new_url
      fieldset
        &#href-input, &#taglist-input
          +columns(12)
          +omega
        &.buttons
          +columns(2)
          +omega
          input#url_submit
            :cursor pointer
            :width 100%
            :font-size 1.5em
            +roundish
            &:hover
              :background-color #ffffcd
        #tag-autocompleter
          :position absolute
          +columns(12)
          +omega
          :top 70px 
          :left 0
          ul
            +list-of-tags
            li:hover
              :background-color #ffffcd

    &.index, &.show
      dl.url
        +columns(12)
        +full
        +roundish
        :margin
          :bottom 35px
        :padding
          :top 10px
          :bottom 10px
        .original
        
        dt
          :display none
        dd
          &.short
            +columns(8)
            +alpha
            a
              :font-size 1em
              :font-weight bold
              :color black
          &.added
            +columns(4)
            +omega
            :text-align right
            :font-size 85%
            :color #555
          &.tags
            +alpha
            +columns(10)
            ul.tags
              +list-of-tags
                
          &.edit
            +columns(2)
            +omega
            :text-align right

#errorExplanation
  :padding 5px
  :background-color #ffb6c1
  :border
    :top 1px solid gray
    :bottom 1px solid gray
  p
    :color maroon
    :margin 0
  ul
    +no-bullets
    :margin-bottom 0

#flash
  .notice_good
    :border-top 2px solid green
    :border-bottom 2px solid green
    :margin-bottom 25px 
    :padding 10px
    :background-color #bced91
